---
layout: default.hbs
data: <%= italian %>
common_header: 1
common_footer: 1
---

{{!--
common_header: 1 => ノーマル, 2 => ログインあり
common_footer: 1 => ノーマル, 2 => PCリダイレクトボタンあり
--}}

<!-- title -->
<h1 class="title">
  <span class="title__main">{{data.area}} {{data.genre}}</span>
  <span class="title__sub">おすすめ情報</span>
</h1>
<!-- /title -->


{{!-- 編集ピックアップ（リスト系リンク） --}}

<!-- panel -->
<a href="#" class="panel js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/panel_01.jpg">
  <article>
    <div class="panel__layer">
      <p class="panel__contents">{{data.edit_01.contents}}</p>
      <h2 class="panel__headline">{{data.edit_01.text}}</h2>
    </div>
  </article>
</a>
<!-- /panel -->

{{!-- /編集ピックアップ（リスト系リンク） --}}


{{!-- 編集ピックアップ（記事系リンク） --}}

<!-- panel -->
<a href="#" class="panel js-lazy" data-original="//dummyimage.com/750x360/eee/fff.png&text=dummy">
  <article>
    <div class="panel__layer">
      <p class="panel__contents">{{data.edit_02.contents}}</p>
      <h2 class="panel__headline">{{data.edit_02.text}}</h2>
    </div>
  </article>
</a>
<!-- /panel -->

{{!-- /編集ピックアップ（記事系リンク） --}}


{{!-- 特集 --}}

<!-- panel -->
<a href="#" class="panel shadow-wide js-lazy" data-original="//dummyimage.com/750x360/eee/fff.png&text=dummy">
  <article>
    <div class="panel__layer">
      <p class="panel__contents">特集</p>
      <h2 class="panel__headline">{{data.sp.text}}</h2>
    </div>
  </article>
</a>
<!-- /panel -->

{{!-- /特集 --}}


{{!-- トレンドランキング --}}

<section class="shadow-def">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">おすすめランキング</h2>
    <p class="headline__sub">毎日更新！今注目されている{{data.genre}}は？</p>
  </div>
  <!-- /headline -->

  <!-- media -->
  <article class="media">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/media_01.jpg">
        <div class="media__rank">1</div>
      </div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.rank_01.shop}}</h3>
        <p class="media__info">{{data.rank_01.access}}</p>
        <p class="media__info">{{data.rank_01.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <!-- media -->
  <article class="media">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy">
        <div class="media__rank">2</div>
      </div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.rank_02.shop}}</h3>
        <p class="media__info">{{data.rank_02.access}}</p>
        <p class="media__info">{{data.rank_02.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <!-- media -->
  <article class="media">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy">
        <div class="media__rank">3</div>
      </div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.rank_03.shop}}</h3>
        <p class="media__info">{{data.rank_03.access}}</p>
        <p class="media__info">{{data.rank_03.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <!-- media -->
  <article class="media js-viewItem js-displayNone">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy">
        <div class="media__rank">4</div>
      </div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.rank_04.shop}}</h3>
        <p class="media__info">{{data.rank_04.access}}</p>
        <p class="media__info">{{data.rank_04.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <!-- media -->
  <article class="media js-viewItem js-displayNone">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy">
        <div class="media__rank">5</div>
      </div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.rank_05.shop}}</h3>
        <p class="media__info">{{data.rank_05.access}}</p>
        <p class="media__info">{{data.rank_05.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <div class="simpleButton js-viewAll">もっと見る</div>

</section>

{{!-- /トレンドランキング --}}


{{!-- マップ --}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">スポット別 お店マップ</h2>
    <p class="headline__sub">{{data.area}}エリアの{{data.genre}}を地図から探せる！</p>
  </div>
  <!-- /headline -->

  <div class="section__body">

    <!-- slider -->
    <div class="slider slider--map js-slider">
      <div class="slider__inner js-overflowScroll">
        <ul class="slider__list">
          <li class="slider__item">
            <a href="#">
              <section>
                <div class="slider__thumbnail js-lazy" data-original="img/map-noimage.png"></div>
                <div class="slider__layer">
                  <h3 class="slider__headline">{{data.map_01}}</h3>
                </div>
              </section>
            </a>
          </li>
          <li class="slider__item">
            <a href="#">
              <section>
                <div class="slider__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/slider_01.jpg"></div>
                <div class="slider__layer">
                  <h3 class="slider__headline">{{data.map_02}}</h3>
                </div>
              </section>
            </a>
          </li>
          <li class="slider__item">
            <a href="#">
              <section>
                <div class="slider__thumbnail js-lazy" data-original="img/map-noimage.png"></div>
                <div class="slider__layer">
                  <h3 class="slider__headline">{{data.map_03}}</h3>
                </div>
              </section>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /slider -->

    <!-- button -->
    <div class="pd-28b js-geoSeachWrap">
      <a href="javascript:void(0)" class="button js-geoSearch">
        <p class="button__text">
          <span class="ic-b ic-b--location">現在地周辺</span>
        </p>
      </a>
    </div>
    <!-- /button -->

  </div>

</section>

{{!-- /マップ --}}


{{!-- 施設内観・外観情報 --}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">雰囲気重視ならこのお店</h2>
    <p class="headline__sub">オシャレ / 和風 / カジュアル / ムードがある</p>
  </div>
  <!-- /headline -->

  <!-- slider -->
  <div class="slider">
    <div class="slider__inner js-overflowScroll">
      <ul class="slider__list">
        <li class="slider__item">
          <a href="#">
              <div class="slider__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/slider_02.jpg"></div>
          </a>
        </li>
        <li class="slider__item">
          <a href="#">
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
          </a>
        </li>
        <li class="slider__item">
          <a href="#">
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /slider -->

  <!-- link -->
  <a href="#" class="arrowLink">
    <p class="arrowLink__headline">{{data.facility.link_01}}</p>
  </a>
  <!-- /link -->

</section>

{{!-- /施設内観・外観情報 --}}


{{!-- ランチ情報--}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">ランチするならこのお店</h2>
    <p class="headline__sub">{{data.area}}周辺の{{data.genre}}ランチはこちら！</p>
  </div>
  <!-- /headline -->

  <!-- panel -->
  <a href="#" class="panel js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/panel_02.jpg">
    <article>
      <div class="panel__layer">
        <p class="panel__contents">{{data.lunch.contents}}</p>
        <h3 class="panel__headline">{{data.lunch.text}}</h3>
      </div>
    </article>
  </a>
  <!-- /panel -->

  <!-- link -->
  <a href="#" class="arrowLink">
    <p class="arrowLink__headline">{{data.area}} {{data.genre}}のランチ情報を見る</p>
  </a>
  <!-- /link -->

</section>

{{!-- /ランチ情報--}}


{{!-- 検索結果リスト(予算別情報) --}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">コスパ重視ならこのお店！</h2>
    <p class="headline__sub">平均予算：5,000円</p>
  </div>
  <!-- /headline -->

  <!-- card -->
  <div class="card">

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/card_01.jpg">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result03_01.shop}}</h3>
          <p class="card__info">{{data.result03_01.access}}</p>
          <p class="card__info">{{data.result03_01.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/card_02.jpg">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result03_02.shop}}</h3>
          <p class="card__info">{{data.result03_02.access}}</p>
          <p class="card__info">{{data.result03_02.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

  </div>
  <!-- /card -->

  <!-- card -->
  <div class="card">

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//dummyimage.com/320x320/eee/fff.png&text=dummy">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result03_03.shop}}</h3>
          <p class="card__info">{{data.result03_03.access}}</p>
          <p class="card__info">{{data.result03_03.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//dummyimage.com/320x320/eee/fff.png&text=dummy">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result03_04.shop}}</h3>
          <p class="card__info">{{data.result03_04.access}}</p>
          <p class="card__info">{{data.result03_04.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

  </div>
  <!-- /card -->

  <!-- link -->
  <a href="#" class="arrowLink">
    <p class="arrowLink__headline">{{data.result03.link_01}}</p>
  </a>
  <!-- /link -->

</section>

{{!-- /検索結果リスト(予算別情報) --}}


{{!-- 検索結果リスト（空席・営業情報） --}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">本日予約できるお店</h2>
    <p class="headline__sub">まだ間に合う！予約してスマートに飲もう！</p>
  </div>
  <!-- /headline -->

  <!-- card -->
  <div class="card">

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/card_03.jpg">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result04_01.shop}}</h3>
          <p class="card__info">{{data.result04_01.access}}</p>
          <p class="card__info">{{data.result04_01.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/card_04.jpg">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result04_02.shop}}</h3>
          <p class="card__info">{{data.result04_02.access}}</p>
          <p class="card__info">{{data.result04_02.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

  </div>
  <!-- /card -->

  <!-- card -->
  <div class="card">

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//dummyimage.com/320x320/eee/fff.png&text=dummy">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result04_03.shop}}</h3>
          <p class="card__info">{{data.result04_03.access}}</p>
          <p class="card__info">{{data.result04_03.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//dummyimage.com/320x320/eee/fff.png&text=dummy">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result04_04.shop}}</h3>
          <p class="card__info">{{data.result04_04.access}}</p>
          <p class="card__info">{{data.result04_04.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

  </div>
  <!-- /card -->

  <!-- card -->
  <div class="card">

    <!-- card__item -->
    <a href="#" class="card__item">
      <article>
        <div class="card__thumbnail js-lazy" data-original="//dummyimage.com/320x320/eee/fff.png&text=dummy">
        </div>
        <div class="card__textBox">
          <h3 class="card__shop">{{data.result04_05.shop}}</h3>
          <p class="card__info">{{data.result04_05.access}}</p>
          <p class="card__info">{{data.result04_05.budget}}</p>
        </div>
      </article>
    </a>
    <!-- /card__item -->

  </div>
  <!-- /card -->

  <!-- link -->
  <a href="#" class="arrowLink">
    <p class="arrowLink__headline">{{data.result04.link_01}}</p>
  </a>
  <!-- /link -->

  <!-- link -->
  <a href="#" class="arrowLink">
    <p class="arrowLink__headline">{{data.result04.link_02}}</p>
  </a>
  <!-- /link -->

</section>

{{!-- /検索結果リスト（空席・営業情報） --}}


{{!-- 検索結果リスト（おすすめ店舗） --}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">まだある！おすすめのお店</h2>
    <p class="headline__sub">気になるお店があったら今すぐチェック！</p>
  </div>
  <!-- /headline -->

  <!-- media -->
  <article class="media">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/media_02.jpg"></div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.result07_01.shop}}</h3>
        <p class="media__info">{{data.result07_01.access}}</p>
        <p class="media__info">{{data.result07_01.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <!-- media -->
  <article class="media">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.result07_02.shop}}</h3>
        <p class="media__info">{{data.result07_02.access}}</p>
        <p class="media__info">{{data.result07_02.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

  <!-- media -->
  <article class="media">
    <a href="#" class="flex">
      <div class="media__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
      <div class="media__textBox flex-item">
        <h3 class="media__shop">{{data.result07_03.shop}}</h3>
        <p class="media__info">{{data.result07_03.access}}</p>
        <p class="media__info">{{data.result07_03.budget}}</p>
      </div>
    </a>
  </article>
  <!-- /media -->

</section>

{{!-- /検索結果リスト（おすすめ店舗） --}}


{{!-- スポット近隣情報--}}

{{!-- <section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">スポットからお店を探す</h2>
    <p class="headline__sub">京都のスポット周辺のをご紹介！</p>
  </div>
  <!-- /headline -->

  <!-- panel -->
  <a href="#" class="panel js-lazy" data-original="//dummyimage.com/750x360/eee/fff.png&text=dummy">
    <article>
      <div class="panel__layer">
        <p class="panel__contents">京都市×ぐるなび×ぐるたび</p>
        <h2 class="panel__headline">●○●○●○●○●○●○●○●○●○●○</h2>
      </div>
    </article>
  </a>
  <!-- /panel -->

  <!-- slider -->
  <div class="slider">
    <div class="slider__inner js-overflowScroll">
      <ul class="slider__list">
        <li class="slider__item">
          <a href="#">
            <section>
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
              <div class="slider__layer">
                <h3 class="slider__headline">●○●○●○●○●○●○</h3>
              </div>
            </section>
          </a>
        </li>
        <li class="slider__item">
          <a href="#">
            <section>
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
              <div class="slider__layer">
                <h3 class="slider__headline">京都タワー（京都駅）</h3>
              </div>
            </section>
          </a>
        </li>
        <li class="slider__item">
          <a href="#">
            <section>
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
              <div class="slider__layer">
                <h3 class="slider__headline">ほげ</h3>
              </div>
            </section>
          </a>
        </li>
        <li class="slider__item">
          <a href="#">
            <section>
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
              <div class="slider__layer">
                <h3 class="slider__headline">ggg</h3>
              </div>
            </section>
          </a>
        </li>
        <li class="slider__item">
          <a href="#">
            <section>
              <div class="slider__thumbnail js-lazy" data-original="//dummyimage.com/240x240/eee/fff.png&text=dummy"></div>
              <div class="slider__layer">
                <h3 class="slider__headline">はげ</h3>
              </div>
            </section>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /slider -->

</section> --}}

{{!-- /スポット近隣情報--}}


{{!-- お一人様向け情報--}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">お一人様におすすめ</h2>
    <p class="headline__sub">気軽に入れるお店をご紹介！ Let’s ソロ活！</p>
  </div>
  <!-- /headline -->

  <!-- panel -->
  <a href="#" class="panel js-lazy" data-original="//design.gnavi.co.jp/in/user/seki-may/sample/img/panel_03.jpg">
    <article>
      <div class="panel__layer">
        <p class="panel__contents">{{data.solo.contents}}</p>
        <h3 class="panel__headline">{{data.solo.text}}</h3>
      </div>
    </article>
  </a>
  <!-- /panel -->

</section>

{{!-- /お一人様向け情報--}}



{{!-- 商品枠③ --}}

{{!-- <a href="#">
  <aside class="ad shadow-def mg-32t">
    <span class="ic ic--imadake"></span>
    <h3 class="txt-default">今日の日替わりランチは？</h3>
  </aside>
</a> --}}

{{!-- /商品枠③ --}}


{{!-- こだわり条件検索 --}}

<section class="section">

  <!-- headline -->
  <div class="headline">
    <h2 class="headline__main">人気条件検索</h2>
    <p class="headline__sub">「{{data.area}} × {{data.genre}}」の人気検索条件はこちら！</p>
  </div>
  <!-- /headline -->

  <!-- list -->
  <ul class="list">
    <li class="list__item">
      <a href="#" class="list__inner">
        <section>
          <h3>{{data.area}} {{data.genre}} {{data.kodawari_01}}</h3>
        </section>
      </a>
    </li>
    <li class="list__item">
      <a href="#" class="list__inner">
        <section>
            <h3>{{data.area}} {{data.genre}} {{data.kodawari_02}}</h3>
        </section>
      </a>
    </li>
    <li class="list__item">
      <a href="#" class="list__inner">
        <section>
          <h3>{{data.area}} {{data.genre}} {{data.kodawari_03}}</h3>
        </section>
      </a>
    </li>
    <li class="list__item">
      <a href="#" class="list__inner">
        <section>
          <h3>{{data.area}} {{data.genre}} {{data.kodawari_04}}</h3>
        </section>
      </a>
    </li>
  </ul>
  <!-- /list -->

</section>

{{!-- こだわり条件検索 --}}


{{!-- レストラン検索結果遷移ボタン --}}

<section class="section">

  <!-- searchLink -->
  <a href="#" class="searchLink mg-40tb">
    <h2 class="searchLink__main">全てのお店を見る</h2>
    <p class="searchLink__sub">{{data.area}} {{data.genre}}</p>
  </a>
  <!-- /searchLink -->

</section>

{{!-- /レストラン検索結果遷移ボタン --}}


<!-- searchFooter -->
<div class="searchFooter">

  {{!-- 関連料理ジャンルリンク --}}

  <section>

    <!-- searchFooter__headline -->
    <h2 class="searchFooter__headline">人気のジャンル</h2>
    <!-- /searchFooter__headline -->

    <!-- tile -->
    <div class="tile">

      <!-- tile__item -->
      <a href="#" class="tile__item js-lazy" data-original="img/genre-izakaya.jpg">
        <section>
          <h3 class="tile__title">居酒屋</h3>
        </section>
      </a>
      <!-- /tile__item -->

      <!-- tile__item -->
      <a href="#" class="tile__item js-lazy" data-original="img/genre-yakiniku.jpg">
        <section>
          <h3 class="tile__title">焼肉</h3>
        </section>
      </a>
      <!-- /tile__item -->

      <!-- tile__item -->
      <!-- <a href="#" class="tile__item js-lazy" data-original="img/genre-italian.jpg">
        <section>
          <h3 class="tile__title">イタリアン</h3>
        </section>
      </a> -->
      <!-- /tile__item -->

    </div>
    <!-- /tile -->

  </section>

  {{!-- /関連料理ジャンルリンク --}}


  {{!-- 詳細検索（エリア） --}}

  <section>

    <!-- searchFooter__headline -->
    <h2 class="searchFooter__headline">場所から探す</h2>
    <!-- /searchFooter__headline -->

    <!-- list -->
    <ul class="list">
      <li>
        <section class="list__inner list__inner--header list__inner--close js-listHeader">
          <h3 class="ic-b ic-b--eki">駅</h3>
        </section>
        <!-- list -->
        <ul class="list js-listGroup js-displayNone">
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.eki_01}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.eki_02}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.eki_03}}</p>
            </a>
          </li>
        </ul>
        <!-- /list -->
      </li>
      <li>
        <section class="list__inner list__inner--header list__inner--close js-listHeader">
          <h3 class="ic-b ic-b--area">エリア</h3>
        </section>
        <!-- list -->
        <ul class="list js-listGroup js-displayNone">
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.area_01}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.area_02}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.area_03}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.area_04}}</p>
            </a>
          </li>
        </ul>
        <!-- /list -->
      </li>
      <li>
        <section class="list__inner list__inner--header list__inner--close js-listHeader">
          <h3 class="ic-b ic-b--spot">スポット</h3>
        </section>
        <!-- list -->
        <ul class="list js-listGroup js-displayNone">
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.spot_01}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.spot_02}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.spot_03}}</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="list__inner">
              <p>{{data.spot_04}}</p>
            </a>
          </li>
        </ul>
        <!-- /list -->
      </li>
    </ul>
    <!-- /list -->

  </section>

  {{!-- 詳細検索（エリア） --}}


  {{!-- 詳細検索（ジャンル） --}}

  <section>

    <!-- searchFooter__headline -->
    <h2 class="searchFooter__headline">ジャンルから探す</h2>
    <!-- /searchFooter__headline -->

    <!-- list -->
    <ul class="list">
      <li class="list__item">
        <a href="#" class="list__inner">
          <section>
            <h3>{{data.genre_01}}</h3>
          </section>
        </a>
      </li>
      <li class="list__item">
        <a href="#" class="list__inner">
          <section>
            <h3>{{data.genre_02}}</h3>
          </section>
        </a>
      </li>
    </ul>
    <!-- /list -->

  </section>

  {{!-- /詳細検索（ジャンル） --}}

</div>
<!-- searchFooter -->